<%= @vitamin.name %><br />
<%= @vitamin.benefits %> <br />
Bag: <a href="/packs/<%=@vitamin.vitamin_pack.id%>"><%= @vitamin.vitamin_pack.name %></a> <br />
<a href="/vitamins/<%=@vitamin.id%>/edit">Edit</a>
<br />
<br />
